* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

body,
html {
  font-family: "Plain Light";
  width: 100%;
  height: 100%;
}

#crsr{
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 50%;
    border: 1px solid #ffffff7d;
    z-index: 9999;
    position: fixed;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #0b0b0b;
  z-index: 999;
  padding: 20vh 10vw;
}
.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
}
#line1_counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

#line1_counter h5,
#line1_counter h6 {
  font-size: 3vw;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "silk serif";
}
#line1_counter h5 {
  width: 5vw;
  text-align: right;
}

.line h1 {
  font-size: 6.8vw;
  line-height: 7.2vw;
  font-weight: 500;
  text-transform: uppercase;
}

.line h2 {
  font-size: 6.8vw;
  line-height: 7.2vw;
  font-weight: 500;
  text-transform: uppercase;
  animation: anime 2s infinite;
  /* animation-delay: 2s;
  animation-iteration-count: infinite; */
  /* opacity: 0; */
}

@keyframes anime {
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px solid #ffffff;
        color: #ffffff;
        /* -webkit-text-fill-color: transparent; */
        opacity: 1;

        
    }
    47%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #ffffff;
        color: #ffffff;
        /* -webkit-text-fill-color: transparent; */
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px  #ffffff;
        /* -webkit-text-fill-color: transparent; */
        color: transparent;
        opacity: 1;

    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #ffffff;
        /* -webkit-text-fill-color: transparent; */

        opacity: 0;
        color: transparent;
    }
}

#loader_bottom{
    position: absolute;
    bottom: 0;
    left: 25vw;
    width: 10vw;
    height: 20vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#main {
  position: relative;
  background-color: #0b0b0b;

}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  /* opacity: 0; */
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 5vw;

    
}

#nav img{
    height: 5vh;
    width: 5vh;
    object-fit: cover;
}

#nav_links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav_links h4{
    cursor: pointer;
    font-size: 1vw;
    font-weight: 500;

}

.hero{
    /* background-color: red; */
    margin-left: 28vw;
    width: 70%;

}
.hero:nth-child(2){
    margin-top: 18vh;
}
.hero h1{
    font-size: 7.5vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.5vw;

}
